<div *ngFor="let user of ListUsers" class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <a  [ngClass]="(user.edad>18) ? 'less-error':'success'"  href="#" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600" >
        <p >
            {{ user.nombre }} {{ user.apellido}}
        </p>
    </a>
</div>

<div *ngFor="let user of ListUsers" class="">
    <a  [ngClass]="(user.edad>18) ? 'less-error':'success'"  href="#" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600" >
        <p >
            {{ user.nombre }} {{ user.apellido}}
        </p>
    </a>
</div>